
//Crono parado
.crono{
    background-color:orange;
    color: white;
    border-radius:40px; border: 5px black solid;
  } 

  //Crono en marcha
.crono1{
  background-color:rgba(193, 10, 209, 0.938);
  border-radius:40px; border: 5px black solid;
  color: white
}

  .desc{
    font-size: 24px;  
  } 

  //Stint Activo o descanso 
  .stintactivo{
    background-color:rgb(7, 11, 255);
    border-radius:10px; border: 10px black solid;
  }
  //Crono en marcha
  .stintdescanso{
    background-color:rgba(193, 10, 209, 0.938);
    border-radius:10px; border: 10px black solid;
  }

