<ion-card>
  <ion-card-content >

    <ion-grid fixed>
      <ion-row>
        <ion-col size="6" class="ion-text-left">
          
          <ion-text color="white">
            <h4>{{reloj.descrip}}</h4>
          </ion-text>  
           



        </ion-col>
        <ion-col size="6" class="ion-text-right">
            <ion-text size="12px">
              <h5>{{reloj.seguntosTotales  | formatotiempo }}</h5>
            </ion-text>
          </ion-col>
      </ion-row>
    </ion-grid>

  
  
  
    
  
      <ion-grid >
        <ion-row>
          <ion-col size="2">

                <ion-grid >
                  <ion-row>
                    <ion-col    [ngClass]="{stintactivo: reloj.estaEnSerieActivo}">.</ion-col>
                    
                  </ion-row>
                  <ion-row>
                    <ion-col  [ngClass]="{stintdescanso: !reloj.estaEnSerieActivo}"> .
                        
                    </ion-col>
                  </ion-row>
                </ion-grid>





          </ion-col>
          <ion-col size="9" 
              style="font-size: 64px; text-align: center; font-weight: 600" 
              [ngClass]="{crono: reloj.enMarcha, crono1: !reloj.enMarcha}">
              {{reloj.segundoActual  | formatotiempocorto }}


            </ion-col>
          <ion-col size="1">


              <!-- <div *ngIf="reloj.enMarcha; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock  [ngClass]="stintdescanso">T</ng-template>
              <ng-template #elseBlock  [ngClass]="stintdescanso">F</ng-template> -->

              
              
              
          </ion-col>
        </ion-row>
      </ion-grid>

   

     <ion-progress-bar  [color]="red"
      value="{{reloj.valorProgress}}"></ion-progress-bar>


  </ion-card-content>
