
//Crono parado
.crono{
    background-color:orange;
    color: white
  } 

  //Crono en marcha
.crono1{
  background-color:rgba(193, 10, 209, 0.938);
  color: white
}

  .desc{
    font-size: 24px;  
  } 


