<ion-card>
  <ion-card-content >

    <ion-grid fixed>
      <ion-row>
        <ion-col size="6" class="ion-text-left">
          
          <ion-text color="white">
            <h4>{{reloj.descrip}}</h4>
          </ion-text>  
           



        </ion-col>
        <ion-col size="6" class="ion-text-right">
            <ion-text size="14px">
              <h5 color="white">{{reloj.seguntosTotales  | formatotiempo }}</h5>
            </ion-text>
          </ion-col>
      </ion-row>
    </ion-grid>

  
  
  
    
  
      <ion-grid >
        <ion-row>
          <ion-col size="3">

                <ion-grid >
                  <ion-row >
                    <ion-col   [ngClass]="{stintactivo: reloj.estaEnSerieActivo}">
                    <div text-center>A</div> 
                    </ion-col>
                    
                  </ion-row>
                  <ion-row >  
                    <ion-col text-center [ngClass]="{stintdescanso: !reloj.estaEnSerieActivo}">D</ion-col>
                  </ion-row>
                </ion-grid>





          </ion-col>
          <ion-col size="8" 
              style="font-size: 64px; text-align: center; font-weight: 600" 
              [ngClass]="{crono: reloj.enMarcha, crono1: !reloj.enMarcha}">
              {{reloj.segundoActual  | formatotiempocorto }}


            </ion-col>
          <ion-col size="1">


              <div *ngIf="reloj.enMarcha">
                <span  class="blue">{{reloj.textoAyuda}}</span>
             </div>
              
              
          </ion-col>
        </ion-row>
      </ion-grid>

   

     <ion-progress-bar  [color]="red"
      value="{{reloj.valorProgress}}"></ion-progress-bar>


  </ion-card-content>
